body {
    font-family: "Gabarito", sans-serif;
    text-align: center;
    margin: 90px;
}

h1 {
    font-size: 40px;
    margin: 30px;
}

img {
    margin: 30px;
    margin-bottom: 50px;
}